<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - tweetthread</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
</head>
<body>
    
      <div class="ui inverted menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Follow us on Twitter
        </a>
        <a class="item">
          Help
        </a>
      </div>
      <img class="ui fluid image" src="https://res.cloudinary.com/blackchef/image/upload/v1606602718/OTB_Company_Blue.png.img.fullhd.medium_ooqfdm.png" style="margin-top: -17px;">

    <div class="ui raised very padded text container segment">
        <a href="https://twitter.com/SummarizeThread">
        <button class="ui active button">
            <i class="user icon" src="https://twitter.com/plssummarize"></i>
            Follow me
          </button>
        </a>
        <h2 class="ui header aligned center">Your Summary</h2>
        <p>{{ value }}</p>
      </div>
      <div class="ui inverted segment">
        
        <div class="ui inverted divider"></div>
        <p></p>
        <h4 class="ui horizontal inverted divider">
            <p>This is not a twitter product</p>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="emekaboris" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
        </h4>
      </div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
</body>

</html>
